:root {
  --primary-color: hsl(172, 67%, 45%);
  --veryDark-cyan: hsl(183, 100%, 15%);
  --darkerGrey-cyan: hsl(186, 14%, 43%);
  --darkGrey-cyan: hsl(184, 14%, 56%);
  --lightGrey-cyan: hsl(185, 41%, 84%);
  --lighterGrey-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --body-form-font: 24px;
  --font-family1: "Space Mono";
  --weights-400: 400;
  --weights-500: 500;
  --weights-700: 700;
}
p {
  color: var(--white);
  font-family: var(--font-family1);
  font-size: 0.8em;
}
span {
  color: var(--darkGrey-cyan);
  font-family: var(--font-family1);
  font-size: 0.8em;
}
form {
  font-family: var(--font-family1);
  color: var(--darkerGrey-cyan);
  font-size: 0.75em;
}
input {
  width: 240px;
  border-width: 0;
  text-align: right;
  caret-color: var(--primary-color);
  border-width: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

body {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.logo {
  height: 3vh;
  width: 3vw;
  max-width: 100%;
}
.container {
  background-color: var(--lightGrey-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  flex-basis: 900px;
  flex-direction: column;
  box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.1);
}

.center {
  background-color: var(--white);
  height: 280px;
  width: 550px;
  border-radius: 12px;
  margin-top: 3.4em;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
}

/*  Input and Form Display */

.inputDisplay {
  height: 245px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  background-color: var(--white);
  height: auto;
  max-width: 100%;
}
#bill {
  background: url(images/icon-dollar.svg) no-repeat scroll 15px;
  color: var(--veryDark-cyan);
  font-size: var(--body-form-font);
  background-color: var(--lighterGrey-cyan);
  font-weight: var(--weights-700);
}
#people {
  background: url(images/icon-person.svg) no-repeat scroll 15px;
  color: var(--veryDark-cyan);
  font-size: var(--body-form-font);
  background-color: var(--lighterGrey-cyan);
  font-weight: var(--weights-700);
}
.billForm{
 margin-bottom: 20px;
}
.peopleForm{
  margin-top: 5px;
}
.btnForm {
  display: grid;
  grid-template-areas:
    "title title ."
    "btn5 btn10 btn15"
    "btn25 btn50 custom";
  grid-gap: 5px;
  margin-bottom: 20px;
}
.labelP{
  grid-area: title;
}
#fiveP{
  grid-area: btn5;
}
#tenP{
  grid-area: btn10;
}
#fivetP{
  grid-area: btn15;
}
#twefP{
  grid-area: btn25;
}
#fiftyP{
  grid-area: btn50;
}
#cust{
  background-color: var(--lighterGrey-cyan);
  width: 8rem;
  height: 3rem;
  grid-area: custom;
  color: var(--veryDark-cyan);
  font-size: 1.5em;
  background-color: var(--lighterGrey-cyan);
  font-weight: var(--weights-700);
}
.percBtn {
  background-color: var(--veryDark-cyan);
  color: var(--white);
  font-family: var(--font-family1);
  width: 80px;
  height: 3rem;
  font-weight: var(--weights-500);
}
.percBtn:hover, .percBtn:focus{
  color: var(--veryDark-cyan);
  background-color: var(--primary-color);
  border: none;
  outline: none;
}
.errorLabel1, .errorLabel2{
  color: red;
  margin-left: 3.5em;
}
/* END Input and Form Display */

/* Calculations Display */
.calcDisplay {
  background-color: var(--veryDark-cyan);
  height: 245px;
  width: 240px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcContainer {
  height: 180px;
  width: 205px;
  display: grid;
  grid-template-areas:
    "text1 .  . tip"
    "text2 . . total"
    "btn btn btn btn";
}

.tipText {
  grid-area: text1;
  padding-top: 9px;
}
.tipCalc {
  color: var(--primary-color);
  font-family: var(--font-family1);
  grid-area: tip;
  font-size: 2.1em;
  font-weight: var(--weights-700);
  margin-bottom: 10px;
}

.totalText {
  grid-area: text2;
  margin-top: 9px;
  margin-bottom: 50px;
}
.totalCalc {
  color: var(--primary-color);
  font-family: var(--font-family1);
  grid-area: total;
  font-size: 2.1em;
  font-weight: var(--weights-700);
  margin-bottom: 70px;
}

.resetBtn {
  background-color: var(--primary-color);
  color: var(--veryDark-cyan);
  font-weight: var(--weights-600);
  font-family: var(--font-family1);
  grid-area: btn;
  height: 30px;
  outline: none;
}
.resetBtn:hover {
  background-color: var(--lightGrey-cyan);
}
.resetBtn:focus{
  border: none;
  outline: none;
}
/* END Calculations Display */

.attribution {
  position: absolute;
  bottom: 0;
  font-family: var(--font-family1);
}




/******************************************MOBILE VIEW************************************/
@media (max-width: 375px){
  p {
    color: var(--white);
    font-family: var(--font-family1);
    font-size: 1em;
  }
  span {
    color: var(--darkGrey-cyan);
    font-family: var(--font-family1);
    font-size: 0.9em;
  }

  form {
    font-family: var(--font-family1);
    color: var(--darkerGrey-cyan);
    font-size: 0.9em;
  }

  input {
    width: 300px;
    border-width: 0;
    text-align: right;
    caret-color: var(--primary-color);
    border-width: 0;
  }

  .logo {
    height: 3em;
    width: 6em;
    max-width: 100%;
  }
  .container {
    background-color: var(--lightGrey-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    flex-basis: 375px;
    flex-direction: column;
    box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.1);
  }
  
  .center {
    background-color: var(--white);
    height: 700px;
    width: 375px;
    border-radius: 15px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05);
  }

  .inputDisplay {
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inputContainer {
    background-color: var(--white);
    height: 340;
    max-width: 100%;
    margin-top: 50px;
  }
  .billForm{
    margin-bottom: 20px;
    
   }
   .peopleForm{
     margin-top: 30px;
   }
  .btnForm {
    display: grid;
    grid-template-areas:
      "title title "
      "btn5 btn10" 
      "btn15 btn25"
      "btn50 custom";
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  .percBtn {
    background-color: var(--veryDark-cyan);
    color: var(--white);
    font-family: var(--font-family1);
    width: 130px;
    height: 4rem;
    font-weight: var(--weights-700);
    font-size: 2em;
  }
  .labelP{
    grid-area: title;
  }
  #fiveP{
    grid-area: btn5;
  }
  #tenP{
    grid-area: btn10;
  }
  #fivetP{
    grid-area: btn15;
  }
  #twefP{
    grid-area: btn25;
  }
  #fiftyP{
    grid-area: btn50;
  }
  #cust{
    background-color: var(--lighterGrey-cyan);
    width: 13rem;
    height: 4rem;
    grid-area: custom;
    color: var(--veryDark-cyan);
    font-size: 1.5em;
    background-color: var(--lighterGrey-cyan);
    font-weight: var(--weights-700);
    text-align: center;
  }

  .calcDisplay {
    background-color: var(--veryDark-cyan);
    height: 245px;
    width: 300px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calcContainer {
    height: 180px;
    width: 270px;
    display: grid;
    grid-template-areas:
      "text1 .  . tip"
      "text2 . . total"
      "btn btn btn btn";
  }

.tipText {
  grid-area: text1;
  padding-top: 9px;
}
.tipCalc {
  color: var(--primary-color);
  font-family: var(--font-family1);
  grid-area: tip;
  font-size: 2.1em;
  font-weight: var(--weights-700);
  margin-bottom: 10px;
}

.totalText {
  grid-area: text2;
  margin-top: 9px;
  margin-bottom: 30px;
}
.totalCalc {
  color: var(--primary-color);
  font-family: var(--font-family1);
  grid-area: total;
  font-size: 2.1em;
  font-weight: var(--weights-700);
  margin-bottom: 10px;
}

.resetBtn {
  background-color: var(--primary-color);
  color: var(--veryDark-cyan);
  font-weight: var(--weights-700);
  font-family: var(--font-family1);
  grid-area: btn;
  height: 50px;
  outline: none;
}
  .attribution {
    display:none;
    
  }
}
