:root {
  --primary-color: hsl(172, 67%, 45%);
  --veryDark-cyan: hsl(183, 100%, 15%);
  --darkerGrey-cyan: hsl(186, 14%, 43%);
  --darkGrey-cyan: hsl(184, 14%, 56%);
  --lightGrey-cyan: hsl(185, 41%, 84%);
  --lighterGrey-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --body-form-font: 24px;
  --font-family1: "Space Mono";
  --weights-400: 400;
  --weights-500: 500;
  --weights-700: 700;
}
body {
  background-color: var(--white);
  display: grid;
  place-items: center;
  height: 100vh;
}
img {
  height: 5vh;
  width: 5vw;
}
.container {
  background-color: var(--lightGrey-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  top: 150px;
}

.center {
}

.attribution {
  position: absolute;
  bottom: 0;
  font-family: var(--font-family1);
}
